@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-primary {
    @apply bg-[#f6fafe];
  }
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.polygonGradientImageUtilize {
  background: url(https://cdn.discordapp.com/attachments/1025050491551485997/1213491928218341376/heroku.png?ex=65f5ab6d&is=65e3366d&hm=fd1acfeb9b18ee6d3037c75509742d98ec1ab2e344d12ddd4b91834115b496b2&);
  background-size: cover;
}
