@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-primary {
    @apply bg-[#f6fafe];
  }
  .bg-secondary {
    @apply bg-[#515355];
  }
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.meshGradient {
  background-color: #056BFF;
  background-image: radial-gradient(
      at 18% 48%,
      #f6fafe 0px,
      transparent 50%
    ),
    radial-gradient(at 38% 96%, #2891ff 0px, transparent 50%),
    radial-gradient(at 50% 43%, #88cfff 0px, transparent 50%),
    radial-gradient(at 22% 76%, #134195 0px, transparent 50%),
    radial-gradient(at 15% 70%, #0f49be 0px, transparent 50%),
    radial-gradient(at 71% 42%, #f6fafe 0px, transparent 50%),
    radial-gradient(at 23% 58%, #012559 0px, transparent 50%);
}
