@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-primary {
    @apply bg-[#f6fafe];
  }
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.meshGradient {
  background-color: #ec99ff;
  background-image: radial-gradient(
      at 18% 48%,
      hsla(279, 82%, 69%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 38% 96%, hsla(249, 87%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 50% 43%, hsla(25, 90%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 22% 76%, hsla(232, 73%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 15% 70%, hsla(78, 78%, 63%, 1) 0px, transparent 50%),
    radial-gradient(at 71% 42%, hsla(358, 90%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 23% 58%, hsla(41, 80%, 66%, 1) 0px, transparent 50%);
}
